<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d3ifcool.cubeacon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.RangeActivity"></activity>
        <activity android:name=".activities.DetailRoomActivity" />
        <activity
            android:name=".activities.ListEventActivity"
            android:configChanges="orientation"
            android:parentActivityName=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailEventActivity"
            android:configChanges="orientation"
            android:parentActivityName=".activities.ListEventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChooseRoomActivity"
            android:configChanges="orientation"
            android:label="Chosse Rooms"
            android:parentActivityName=".EventActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NavigateActivity"
            android:configChanges="orientation"
            android:label="Navigation Map"
            android:parentActivityName=".ChooseRoomActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZoomActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>